@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background: #fff;
  color: #000;
}

.app {
  max-width: none;
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

.task-input {
  display: block;
  gap: 0;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.2rem;
  border: 1px solid #888;
  border-radius: 0;
  background: #eee;
  color: #222;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.2rem 0.5rem;
  background-color: #ccc;
  color: #222;
  border: 1px solid #888;
  border-radius: 0;
  cursor: pointer;
}

button:hover {
  background-color: #bbb;
}

.task-list {
  list-style: decimal;
  padding-left: 1.5rem;
}

.task-list li {
  padding: 0.2rem;
  border: none;
  border-radius: 0;
  margin-bottom: 0.2rem;
  background-color: #eee;
  color: #222;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #fff;
  }
  .task-list li {
    background-color: #eee;
  }
}
